models/
masks/
masks_grand/
jup_tester/
__pycache__/
core/__pycache__
services/__pycache__
.ipynb_checkpoints
app.log
sam2_configs/
tester.py
.vscode
masks.db
build/
dist/
build_env/
build_cache/
vendor/
docker_projects
*.pyc